<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-4 mt-md-4 pb-4">
              <h2 class="fw-bold mb-2 text-uppercase">Успех!</h2>
              <p class="text-white-50 mb-5">Вы успешно зарегали свою тачку</p>
              <button class="btn btn-outline-light btn-lg px-5" style="background-color: transparent; border: none;">
                <a href="/registration" class="btn btn-outline-light btn-lg px-5" style="color: inherit; text-decoration: none;">У меня есть еще тачки</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  