
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mb-md-4 mt-md-4 pb-4">
            <h2 class="fw-bold mb-2 text-uppercase">Регистрация авто</h2>
            <p class="text-white-50 mb-5">Введите данные авто</p>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div class="form-outline form-white mb-4">
                <input formControlName="name" type="text" id="name" class="form-control form-control-lg" placeholder="Aston Martin Bulldog"/>
                <label class="form-label" for="name">Название</label>
                <p *ngIf="this.registrationForm.get('name')?.invalid && this.registrationForm.get('name')?.touched"><small class="text-danger">Название обязателно!</small></p>
              </div>
              <div class="form-outline form-white mb-4">
                <input formControlName="year" type="number" id="year" class="form-control form-control-lg"/>
                <label class="form-label" for="year">Год выпуска</label>
                <p *ngIf="this.registrationForm.get('year')?.invalid && this.registrationForm.get('year')?.touched"><small class="text-danger">Год выпуска обязателен!</small></p>
              </div>
              <div class="form-outline form-white mb-4">
                <input formControlName="price" type="number" id="price" class="form-control form-control-lg"/>
                <label class="form-label" for="price">Цена (в сомах)</label>
                <p *ngIf="this.registrationForm.get('price')?.invalid && this.registrationForm.get('price')?.touched"><small class="text-danger">Укажите цену!</small></p>
              </div>
              <div class="form-outline form-white mb-4">
                <select
                  class="form-select form-select-lg"
                  (change)="changeEngineType($event)"
                  formControlName="engineType"
                >
                  <option value="">Тип двигателя</option>
                  <option *ngFor="let engineType of engineTypes" [ngValue]="engineType">
                    {{ engineType }}
                  </option>
                </select>
                <p *ngIf="this.registrationForm.get('engineType')?.invalid && this.registrationForm.get('engineType')?.touched"><small class="text-danger">Пожалуйста, выберите тип двигателя !</small></p>
              </div>
              <button [disabled]="registrationForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
