/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";

.gradient-custom {
  background: #c08ff5;
  background: -webkit-linear-gradient(
      to right,
      rgb(157, 88, 231),
      rgb(119, 134, 160)
  );
  background: linear-gradient(
      to right,
      rgb(185, 136, 238),
      rgb(101, 150, 235)
  );
}

.text-info:hover {
  background: rgba(118, 150, 155, 0.18);
}

.text-info:active {
  background: rgba(100, 149, 237, 0.35);
  transform: scale(0.95);
}

.active {
  background: rgba(59, 70, 138, 0.35);
}
